*               text=auto

# Git specific files
.gitignore      text
.gitignore      export-ignore
.gitattributes  export-ignore

# Source file
*.md            text diff=markdown
*.py            text diff=python
